/* Tabulator v4.9.3 (c) Oliver Folkerd */

#siteid-list-table .tabulator-header {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  border-bottom: 1px solid #999;
  background-color: #e6e6e6;
  /* color: #555; org */
  color: #6E797C;;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}


#siteid-list-table .tabulator-header .tabulator-col {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  border-right: 1px solid #aaa;
  /* background: #e6e6e6;  org */
  background: #FFFFFF;
  text-align: left;
  vertical-align: bottom;
  overflow: hidden;
}

#siteid-list-table .tabulator-header .tabulator-col.tabulator-sortable:hover {
  cursor: pointer;
  /* background-color: #cdcdcd; org */
  /* color: #10D0E7; */ /* added to org weg */
 
}

#siteid-list-table .tabulator-tableHolder .tabulator-table {
  position: relative;
  display: inline-block;
  background-color: #fff;
  white-space: nowrap;
  overflow: visible;
  /* color: #333; org */
  color: #6E797C;
}

#siteid-list-table .tabulator-loader {
  position: absolute;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  top: 0;
  left: 0;
  z-index: 100;
  height: 100%;
  width: 100%;
  /* background: rgba(0, 0, 0, 0.4); org */
  background: #F8F8F8;
  text-align: center;
}

#siteid-list-table .tabulator-loader .tabulator-loader-msg {
  display: inline-block;
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 10px;
  /* background: #fff; org */
  background: #F8F8F8;
  font-weight: bold;
  font-size: 16px;
}

#siteid-list-table .tabulator-loader .tabulator-loader-msg.tabulator-loading {
  /*  border: 4px solid #333; org */
  border: 1px solid #6E797C; 
  color: #000;
}

#siteid-list-table .tabulator-row.tabulator-selectable:hover { /* TODO dit zet de regel kleur lijkt niet overgenomen te worden
  /* background-color: #bbb; org */
  /* background-color: #e0e0e0;  */
  /* cursor: pointer; */
  color: #6E797C;
  /* color: #10D0E7; *//* added to org  weg*/
}

#siteid-list-table .tabulator-row.tabulator-selected:hover {
 /*  background-color: #769BCC;  weg */
  cursor: pointer; 
}
